body {
    margin: 0;
}

.w_100 { width: 100%; }
.w_80 { width: 80%; }
.w_75 { width: 75%; }
.w_60 { width: 60%; }
.w_40 { width: 40%; }
.w_25 { width: 25%; }
.w_20 { width: 20%; }

.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }

.f_15_20 { font-size: 15px; line-height: 20px;}
.f_20_25 { font-size: 20px; line-height: 25px;}
.f_25_30 { font-size: 25px; line-height: 30px;}
.f_30_35 { font-size: 30px; line-height: 35px;}
.f_35_40 { font-size: 35px; line-height: 40px;}
.f_40_60 { font-size: 40px; line-height: 60px;}

      .circle {
        font-size: 10px;
        width: 200px;
        height: 200px;
        display: flex;
        border-radius: 50%;
        position: relative;
        background: conic-gradient(
                rgba(248, 158, 158, 0.8) 0% 85%, /* 점수 부분 (85%) */
                rgba(2, 6, 23, 0.4) 85% 100% /* 나머지 부분 */
            );
        box-shadow: 0px 4px 4px 0px rgba(248, 158, 158, 0.4);
      }
      .inner-circle {
        width: 90%;
        height: 90%;
        border-radius: inherit;
        background-color: #373A49;
        margin: auto;
        display: flex;
        color: white;
        justify-content: center;

      }

      .inner-circle span {
        display: flex;
        align-items: center;
      }

/* 중앙 정렬을 위한 스타일 */
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .container {
            /* background-color: transparent; -- 배경 투명하게 */
            padding: 20px;
            text-align: center;
        }

        #video {
            width: 100%;
            height: auto;
        }

        button, input[type="submit"] {
            margin-top: 10px;
            padding: 10px 20px;
        }